.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.SongInput input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.drop-zone {
  border: 2px dashed black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #7ecf7a;
}
